#full-page {
   width: 100vw;
   overflow: hidden;
   position: relative;
   box-sizing: border-box;
}

section {
   padding-top: 76px;
   height: 100vh;
   box-sizing: border-box;
   position: relative;
   overflow: hidden;
}

@keyframes fade-out-right {
   to {
      opacity: 0;
      transform: translateX(50vw);
   }
}

@keyframes fade-out-left {
   to {
      opacity: 0;
      transform: translateX(-50vw);
   }
}

@keyframes fade-in-right {
   from {
      opacity: 0;
      transform: translateX(50vw);
   }
}

@keyframes fade-in-left {
   from {
      opacity: 0;
      transform: translateX(-50vw);
   }
}