@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

body {
   overflow: hidden;
   width: 100vw;
   height: 100vh;
   padding: 0;
   margin: 0;
   background: rgb(1, 8, 23);
   background: linear-gradient(0deg, rgba(1, 8, 23, 1) 0%, rgba(25, 25, 82, 1) 100%);

   display: flex;
   flex-direction: column;
   align-items: stretch;
   align-content: stretch;

   user-select: none;
}

a, p {
   color: #FFFFFF;
   font-family: 'Rubik', sans-serif;
   margin: 0;
}

/* Header */

header {
   z-index: 100;
   top: 0;
   height: auto;
   margin: 0;
   padding: 15px 35px;
   position: sticky;
   font-size: 1.3rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.95);
   box-shadow: 0 1px 5px rgba(20, 20, 20, 0.4);
}

header a, header p {
   color: rgba(25, 25, 82, 1);
   text-decoration: none;
   transition: color .3s;
}

header a:hover {
   color: rgb(95, 95, 231);
}

#nav-right {
   display: flex;
   width: 35%;
   min-width: 300px;
   justify-content: space-between;
}

#logo-big {
   font-weight: 600;
   font-size: 1.1em;
}

#logo-small {
   font-weight: 300;
   font-size: 0.8em;
}

/* Content */

main {
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

/* Parallax */

#parallax-area {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center;
   padding: 40px;
   width: 40vw;
}

#main-logo {
   width: 300px;
   height: 300px;
   transition: all 0.4s ease-out;
}

.parallax-img {
   transform-style: preserve-3d;
   box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
   border-radius: 100%;
}

#more-logos {
   margin-top: 10px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#more-logos img {
   width: 100px;
   height: 100px;
   padding: 25px;
}

#more-logos > img:nth-child(1) {
   transition: all 0.3s ease-out;
}

#more-logos > img:nth-child(2) {
   margin-top: 30px;
   transition: all 0.15s ease-out;
}

#more-logos > img:nth-child(3) {
   transition: all 0.2s ease-out;
}

/* Landing Content */

#landing-content-area {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 4%;
   width: 45%;
}

#title {
   font-weight: 600;
   font-size: 5rem;
   letter-spacing: -1px;
   text-transform: uppercase;
   text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#subtitle {
   font-size: 2rem;
   letter-spacing: 1px;
   text-transform: lowercase;
   opacity: 95%;
   text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#hello {
   color: rgb(148, 148, 231);
   font-size: 1.5rem;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   opacity: 90%;
}

.separator {
   height: 2px;
   width: 130px;
   background-color: rgb(95, 95, 231);
}

#separators {
   display: flex;
   flex-direction: row;
   margin: 30px 0;
}

#separators > div:nth-child(2) {
   margin-top: 15px;
   margin-left: -70px;
}