@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

body {
   overflow: hidden;
   scroll-behavior: smooth;
   width: 100vw;
   height: 100vh;
   padding: 0;
   margin: 0;
   background: green;
   background: linear-gradient(0deg, rgba(1, 8, 23, 1) 0%, rgba(25, 25, 82, 1) 100%);
}

* {
   user-select: none;
}

a, p {
   color: #FFFFFF;
   font-family: 'Rubik', sans-serif;
   margin: 0;
}